.form {
  width: 100%;
  display: flex;
  button[type="submit"] {
    width: 30%;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    border: none;
    width: 70%;
    padding: 0 10px 0 10px;
    &:focus {
      outline: none;
    }
  }
}