.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
.form {
  width: 450px;
  display: flex;
  button[type="submit"] {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    &:hover{
      cursor: pointer;
    }
  }
  input {
    border: none;
    width: 70%;
  }
}
